@mixin flex ($display, $justify-content, $align-items) {
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin size ($size-w, $size-h, $radius: false) {
    width: $size-w;
    height: $size-h;

    @if $radius != false {
        border-radius: $radius;
    }
}

@mixin position ($absolute: false){
    @if $absolute != false {
        position: absolute;
    } @else {
        position: relative;
    }
}

@mixin position-coordinates ($top, $right, $bottom, $left) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin gradient ($circle: false, $primary-color, $secondary-color) {

    @if $circle != false{
        background: radial-gradient($circle, $primary-color, $secondary-color);
    } @else {
        background: linear-gradient(to right, $primary-color 0%, $secondary-color 100%);
    }
}

@mixin border ($size, $style, $color) {
    border: $size $style $color;
}