$size: 100px;
$radius: 50%;
$hidden: hidden;
$circle: circle;

/* Colors */
$primary-color: #98e7a2;
$secondary-color: #9f5ee9;
$gradient-purple-start-c: rgba(155,92,230,0.95);
$gradient-purple-end-c: rgba(48,46,122,1);
$gradient-green-start-c: rgba(100,219,116,0.7);
$gradient-green-end-c: rgba(79,227,191,0.8);